{{#each msgs as |msg| }}
  <div class="msg" id={{msg._id}} data-id={{msg.owner._id}} style="display: flex; flex-direction: row; align-items: center;">
    <p class="timestamp" style="margin: 0;">
      {{msg.createdAt}}
    </p>
    <p class="msg-email" style="display: flex; justify-content: center; width: 20%; margin: 0 0 0 5%">
      {{msg.owner.email}}
    </p>
    <div style="display: flex; flex-direction: row; margin: 0 0 0 5%; width: 50%;">
      <p class="msg-content" style="margin: 0 0 0 5%; width: 100%">
        {{msg.text}}
      </p>
      {{#if (equal msg.owner._id msg.currentOwner) }}
        <form class="update-form" data-id={{msg._id}} style="display: none">
          <input type="text" name="message[text]" value="{{msg.text}}">
          <button class="update-button" data-id={{msg._id}}>Update</button>
        </form>
        <button class="delete-button" data-id={{msg._id}}>Delete</button>
      {{/if}}
    </div>
  </div>
{{/each}}
